h2{
    color: rgb(36, 95, 173);
    font-size: 40px;
    
}

h1{
    color:black;
    font-size: 30px;
    font-weight: bold;
}

p{
    font-style: italic;
}

article{
    font-size: 25px;
    color: black;
    background-image: url("img2.jpg");
    background-repeat: no-repeat;
   
}


.icon{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

    
   }
.copy{
    text-align: center;
    font-size: 15px;
    color: rgb(36, 95, 173);
    font-weight: bold;
}


.social{
    color: rgb(36, 95, 173);
    font-weight: bold;
    font-size: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
   
}


hr{
    size: 10px;
}

ul{
    padding-left: 55px;
}


article p{
    
    padding-left: 55px;
   
}

img{
    padding-top: 10px;
}

h2{
    padding-top: 2px;

}


form{
    padding: 25px;
}







form{
    background-color: rgb(99, 107, 109);
    max-width: 380px;
    padding: 36px;
    align-content: center;
    margin-left: 150px;
    
}

form p{
    font-size: 20px;
    font-weight: bold;
}

.inp{
width:350px ;
padding: 6px;
}
